.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    height: 50px;
}

.header__github{
    a{
        fa-icon{
            font-size: 27px;
            color: black;
            cursor: pointer;
        }
    }
}